/* 폰트 */
@font-face {
    font-family: 'RIDIBatang';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 마진 패딩 0, 폰트 지정 */
* {
    margin: 0;
    padding: 0;
    font-family: 'RIDIBatang';
}

/* IE에서 웹폰트 사용시 br태그가 깨져서 기본 폰트로 적용해준다. */
br {
    font-family: 'Courier New', Courier, monospace;
}

/* a태그 밑줄 제거 */
a,
a:link,
a:visited {
  text-decoration: none !important;
}

/* 페이지에 마우스 올리면 커서 모양, 나중에 boardcommon 을 만들어서 옮기는게 좋을듯....*/
.page-link, .page-item {
	cursor:pointer;
}

/* 로고영역 왼쪽으로 조금 이동 */
.navbar-brand {
	margin-left:100px;
}

/* 헤더 메뉴 기본 색상 설정 및 hover 효과 */
.nav_items li a, .logo a {
	color:#fff !important;
}
      
.nav_items li a:hover, .logo a:hover, .logo i:hover {
	color:#ffc107 !important;
}

/* header nav itmes 간격 */
.nav-ul > li {
	margin-right:15px !important;
}