.joblist_wrap {
	width:1190px;
	margin:0 auto;
}

.companycrawlingtable tr:hover td{
 	background-color: rgb(220, 245, 255) !important;
    cursor:pointer;
}

.companycrawlingtable td {
	padding:0 !important;
	margin:0 !important;
	vertical-align:middle !important;
}

.companycrawlingtable th {
	font-size:12px;
	padding:8px 0px !important;
	font-weight:100 !important;
	color:#616161;
	background-color:#fafafa !important;
	border-top:1px solid skyblue;
	border-bottom:1px solid skyblue !important;
}

.cc_name {
	color:#0b5ed7;
}

.cc_name > a, .cc_name_th > a{
	margin-left:10px;
}

.cc_title {
	font-weight:bold;
}

.cc_meta {
	color:#999;
}

.cc_meta, .cc_career, .cc_education,.cc_addr1_2,.cc_deadline{
	font-size:14px;
}


.filter_innerwrap {
	display:none;
}


.cc_search {
	width:200px;
	display:inline-block;
	padding-bottom:11px;
}

.filter_innerwrap tr {
	margin-bottom:5px !important;
}

.filter_innerwrap td {
	margin-bottom:5px;
}

.filter_table {
	border-spacing:10px 20px;
	border-collapse:separate;
}

.sidoselect,.gugunselect{width:150px !important;}
.cc_search{width:312px; margin-left:9px;}
