/* */

/* insert 영역 전체 */
.project_insertwrap {
    width:1190px;
    margin:0 auto;
   
}

/* 입력항목 table 상하 간격 */
.project_inserttable {
    border-collapse: separate;
  	border-spacing: 0 15px;
}

/* 입력항목 (th) 너비 */
.project_inserttable th {
    width:150px;
}

/* 필수 입력(*) 강조 */
.project_inserttable th span {
    color:red;
}

