.study_wrap {
	width:1190px;
	margin:0 auto;
}

.study_table {
    width:1190px; 
}

/* 프로필 영역 wrap */
.study_profile {
    width:180px; 
    vertical-align: middle; 
}

/* 프로필 이미지 영역 잡기 */
.study_profile > img {
    float: left; 
    margin-top: 5px;
}

/* 프로필 아이디 영역 */
.study_profile > .study_writer {
    position: relative; 
    top:5px;
    font-size:15px;
}

/* 프로필 작성일 영역 */
.study_profile > .study_regdate {
	text-align:right;
    font-size: 13px; 
    color:rgb(112, 112, 112); 
    position: relative; 
    bottom:2px;
}


.study_table td {
	padding:0 !important;
	margin:0 !important;
	vertical-align:middle !important;
}

.study_table th {
	font-size:12px;
	padding:8px 0px !important;
	font-weight:100 !important;
	color:#616161;
	background-color:#fafafa !important;
	border-top:1px solid skyblue;
	border-bottom:1px solid skyblue !important;
}

<!-- 필터 버튼 상하 마진 -->
.loc_toggle {
	padding:20px;
	border:1px solid black;
}

<!-- 시도,시구 선택 박스 -->
.form-control {
	width:150px !important;
}

.search-bar {
	height:38px !important;
	top:10px;
}

.st_addr1_2 {
	font-weight:bold;
	font-size:14px;
}

.bd_recommandcount {
	color:red;
	font-size:14px;	
}

.bd_no {
	font-size:10px;
	color:lightgray;
}

.bd_viewcount {
	font-size:14px;
	color:lightgray;
}

.replycount {
	margin-left:3px;
	background-color:lightgray;
	padding:3px;
	color:#212529; 
	font-weight:bold;
	font-size:11px;
	vertical-align:middle;
}

.st_person {
	font-size:14px;
}

.bd_no_th > a{
	margin-left:10px;
}

.bd_no > a{
	margin-left:10px;
}

.study_wrap tr:hover{
	background-color: rgb(220, 245, 255);
}

.gugunselect_wrap, .status_wrap {
	display:flex; 
	width:300px;
}

.sidoselect,.gugunselect{width:150px !important;}