<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.itpro.model.dto.BoardDto" alias="boardDto"/>
		<typeAlias type="com.itpro.model.dto.CompanyCrawlingDto" alias="CompanyCrawlingDto"/>
		<typeAlias type="com.itpro.model.dto.CompanyCrawlingSearchDto" alias="CompanyCrawlingSearchDto"/>
		<typeAlias type="com.itpro.model.dto.ProjectDto" alias="ProjectDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/board-mapper.xml"/>
		<mapper resource="/mybatis/companycrawling-mapper.xml"/>
		<mapper resource="/mybatis/project-mapper.xml"/>
	</mappers>

</configuration>