<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.itpro.model.dto.crawling.CompanyCrawlingDto" alias="CompanyCrawlingDto"/>
		<typeAlias type="com.itpro.model.dto.crawling.CompanyCrawlingSearchDto" alias="CompanyCrawlingSearchDto"/>
		<typeAlias type="com.itpro.model.dto.study.StudyInsertDto" alias="StudyInsertDto"/>
		<typeAlias type="com.itpro.model.dto.study.StudyListDto" alias="StudyListDto"/>
		<typeAlias type="com.itpro.model.dto.study.StudyDetailDto" alias="StudyDetailDto"/>
		<typeAlias type="com.itpro.model.dto.study.StudyUpdateDto" alias="StudyUpdateDto"/>
		<typeAlias type="com.itpro.model.dto.reply.ReplyInsertDto" alias="ReplyInsertDto"/>
		<typeAlias type="com.itpro.model.dto.reply.ReplyListDto" alias="ReplyListDto"/>
		<typeAlias type="com.itpro.model.dto.reply.ReplyUpdateDto" alias="ReplyUpdateDto"/>
		<typeAlias type="com.itpro.model.dto.member.LoginDto" alias="LoginDto"/>
		<typeAlias type="com.itpro.model.dto.admin.ManageMemberDto" alias="ManageMemberDto"/>
		<typeAlias type="com.itpro.model.dto.project.ProjectListDto" alias="ProjectListDto"/>
		<typeAlias type="com.itpro.model.dto.project.ProjectInsertDto" alias="ProjectInsertDto"/>
		<typeAlias type="com.itpro.model.dto.project.ProjectDetailDto" alias="ProjectDetailDto"/>
		<typeAlias type="com.itpro.model.dto.portfolio.PortfolioDto" alias="PortfolioDto"/>
		<typeAlias type="com.itpro.model.dto.qna.QnaDto" alias="QnaDto"/>
		
		
		
		
		
		<typeAlias type="com.itpro.model.dto.study.StudySearchDto" alias="StudySearchDto"/>
		<typeAlias type="com.itpro.model.dto.board.BoardUpdateDto" alias="BoardUpdateDto"/>
		
		
		
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/companycrawling-mapper.xml"/>
		<mapper resource="/mybatis/study-mapper.xml"/>
		<mapper resource="/mybatis/reply-mapper.xml"/>
		<mapper resource="/mybatis/project-mapper.xml"/>
		<mapper resource="/mybatis/portfolio-mapper.xml"/>
		<mapper resource="/mybatis/qna-mapper.xml"/>
		<mapper resource="/mybatis/member-mapper.xml"/>
		<mapper resource="/mybatis/managemember-mapper.xml"/>
		
		
		
		<mapper resource="/mybatis/board-mapper.xml"/>
	</mappers>

</configuration>