<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.itpro.model.dto.crawling.CompanyCrawlingDto" alias="CompanyCrawlingDto"/>
		<typeAlias type="com.itpro.model.dto.crawling.CompanyCrawlingSearchDto" alias="CompanyCrawlingSearchDto"/>
		<typeAlias type="com.itpro.model.dto.study.StudyInsertDto" alias="StudyInsertDto"/>
		<typeAlias type="com.itpro.model.dto.study.StudyListDto" alias="StudyListDto"/>
		<typeAlias type="com.itpro.model.dto.study.StudyDetailDto" alias="StudyDetailDto"/>
		<typeAlias type="com.itpro.model.dto.study.StudyUpdateDto" alias="StudyUpdateDto"/>
		<typeAlias type="com.itpro.model.dto.reply.ReplyInsertDto" alias="ReplyInsertDto"/>
		<typeAlias type="com.itpro.model.dto.reply.ReplyListDto" alias="ReplyListDto"/>
		<typeAlias type="com.itpro.model.dto.reply.ReplyUpdateDto" alias="ReplyUpdateDto"/>
		
		<typeAlias type="com.itpro.model.dto.admin.ManageMemberDto" alias="ManageMemberDto"/>
		<typeAlias type="com.itpro.model.dto.admin.ManageMemberDto_com" alias="ManageMemberDto_com"/>
		
		<typeAlias type="com.itpro.model.dto.project.ProjectListDto" alias="ProjectListDto"/>
		<typeAlias type="com.itpro.model.dto.project.ProjectInsertDto" alias="ProjectInsertDto"/>
		<typeAlias type="com.itpro.model.dto.project.ProjectDetailDto" alias="ProjectDetailDto"/>
		<typeAlias type="com.itpro.model.dto.project.ProjectUpdateDto" alias="ProjectUpdateDto"/>
		
		<typeAlias type="com.itpro.model.dto.portfolio.PortfolioListDto" alias="PortfolioListDto"/>
		<typeAlias type="com.itpro.model.dto.portfolio.PortfolioInsertDto" alias="PortfolioInsertDto"/>
		<typeAlias type="com.itpro.model.dto.portfolio.PortfolioDetailDto" alias="PortfolioDetailDto"/>
		<typeAlias type="com.itpro.model.dto.portfolio.PortfolioUpdateDto" alias="PortfolioUpdateDto"/>
		
		<typeAlias type="com.itpro.model.dto.qna.QnaListDto" alias="QnaListDto"/>
		<typeAlias type="com.itpro.model.dto.qna.QnaInsertDto" alias="QnaInsertDto"/>
		<typeAlias type="com.itpro.model.dto.qna.QnaDetailDto" alias="QnaDetailDto"/>
		<typeAlias type="com.itpro.model.dto.qna.QnaUpdateDto" alias="QnaUpdateDto"/>
		
		<typeAlias type="com.itpro.model.dto.report.ReportDto" alias="ReportDto"/>
		<typeAlias type="com.itpro.model.dto.report.ReportReplyDto" alias="ReportReplyDto"/>
		
		<typeAlias type="com.itpro.model.dto.ad.AdDto" alias="AdDto"/>

	
		<typeAlias type="com.itpro.model.dto.reply.ReplyUpdateDto" alias="ReplyUpdateDto"/>
		
		<typeAlias type="com.itpro.model.dto.study.StudySearchDto" alias="StudySearchDto"/>
		<typeAlias type="com.itpro.model.dto.board.BoardUpdateDto" alias="BoardUpdateDto"/>
		<typeAlias type="com.itpro.model.dto.board.BoardDto" alias="BoardDto"/>
		<typeAlias type="com.itpro.model.dto.board.BoardCategoryDto" alias="BoardCategoryDto"/>
		
		<typeAlias type="com.itpro.model.dto.notice.NoticeDto" alias="NoticeDto"/>
		<typeAlias type="com.itpro.model.dto.notice.NoticeSearchDto" alias="NoticeSearchDto"/>
		

		<typeAlias type="com.itpro.model.dto.study.StudySearchDto" alias="StudySearchDto"/>
		<typeAlias type="com.itpro.model.dto.board.BoardUpdateDto" alias="BoardUpdateDto"/>
		<typeAlias type="com.itpro.model.dto.like.LikeDto" alias="LikeDto"/>
		<typeAlias type="com.itpro.model.dto.member.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.itpro.model.dto.member.ProfileDto" alias="ProfileDto"/>
		<typeAlias type="com.itpro.model.dto.resume.ResumeDto" alias="ResumeDto"/>
		<typeAlias type="com.itpro.model.dto.resume.ResumeDetailDto" alias="ResumeDetailDto"/>
		<typeAlias type="com.itpro.model.dto.resume.EducationDto" alias="EducationDto"/>
		<typeAlias type="com.itpro.model.dto.note.NoteDto" alias="NoteDto"/>
		<typeAlias type="com.itpro.model.dto.resume.ResumeProfileDto" alias="ResumeProfileDto"/>

		<typeAlias type="com.itpro.model.dto.board.BoardInsertDto" alias="BoardInsertDto"/>

		<typeAlias type="com.itpro.model.dto.study.StudyJoinInfoDto" alias="StudyJoinInfoDto"/>
		
		
		
		
		
		
		
		
		
		
		<typeAlias type="com.itpro.model.dto.member.PostLookupDto" alias="PostLookupDto"/>
		<typeAlias type="com.itpro.model.dto.board.SearchListDto" alias="SearchListDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/companycrawling-mapper.xml"/>
		<mapper resource="/mybatis/study-mapper.xml"/>
		<mapper resource="/mybatis/reply-mapper.xml"/>
		<mapper resource="/mybatis/project-mapper.xml"/>
		<mapper resource="/mybatis/portfolio-mapper.xml"/>
		<mapper resource="/mybatis/qna-mapper.xml"/>
		<mapper resource="/mybatis/member-mapper.xml"/>
		<mapper resource="/mybatis/managemember-mapper.xml"/>
		<mapper resource="/mybatis/report-mapper.xml"/>
		<mapper resource="/mybatis/reportreply-mapper.xml"/>
		<mapper resource="/mybatis/ad-mapper.xml"/>

		<mapper resource="/mybatis/board-mapper.xml"/>
		<mapper resource="/mybatis/BoardCategory-mapper.xml"/>	
		<mapper resource="/mybatis/notice-mapper.xml"/>
		<mapper resource="/mybatis/resume-mapper.xml"/>

		<mapper resource="/mybatis/note-mapper.xml"/>

		<mapper resource="/mybatis/like-mapper.xml"/>
	</mappers>

</configuration>