<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ManageMember">
	
	<resultMap type="ManageMemberDto" id="ManageMemberMap">
		<result property="m_no" column="M_NO"/>
		<result property="m_nickname" column="M_NICKNAME"/>
		<result property="m_type" column="M_TYPE"/>
		<result property="m_gender" column="M_GENDER"/>
		<result property="m_regdate" column="M_REGDATE"/>
		<result property="m_act" column="M_ACT"/> <!-- 활동여부 -->
		<result property="m_used" column="M_USED"/> <!-- 탈퇴여부 -->
		<result property="m_auth" column="M_AUTH"/>
		<result property="m_name" column="M_NAME"/>
		<result property="m_birth" column="M_BIRTH"/>
		<result property="m_addr" column="M_ADDR"/>
		<result property="m_regno" column="M_REGNO"/>
		<result property="m_admin_cert" column="M_ADMIN_CERT"/>
	</resultMap>

	<!-- BOARD에서 회원번호(맨 마지막꺼) 나중에 수정해야됨 -->
	
	
	
	<select id="selectList" resultMap="ManageMemberMap">
        SELECT *
        FROM IT_MEMBER
        ORDER BY M_NO DESC
	</select>
	
	<select id="selectOne" resultType="ManageMemberDto" parameterType="int">
		SELECT *
		FROM IT_MEMBER A, BIZ_MEMBER B
		WHERE A.M_NO=B.M_NO(+) 
		AND A.M_NO=#{m_no}
	</select>
	
	
	
	<update id="update" parameterType="ManageMemberDto">
		UPDATE IT_MEMBER
		SET M_ACT=#{m_act}, M_AUTH=#{m_auth}, M_ADMIN_CERT=#{m_admin_cert}
		WHERE M_NO=#{m_no}
	</update>
	
	
	
</mapper>