<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ManageMember">
	
	

	
	<!-- 개인회원 + 관리자 -->
	
	<select id="selectList" resultType="ManageMemberDto" parameterType="HashMap">
        SELECT M_NO, M_NICKNAME, M_TYPE, M_GENDER, M_REGDATE, M_ACT, M_USED, M_AUTH
        FROM IT_MEMBER
        WHERE (M_TYPE='개인회원' OR M_TYPE='관리자')
        <choose>
        	<when test="search_option =='all'">
        	AND ((m_nickname like '%${keyword}%') OR (M_ACT LIKE '%${keyword}%') 
        		OR (M_GENDER LIKE '%${keyword}%') OR (M_TYPE LIKE '%${keyword}%'))
        	</when>
        	<otherwise>
        	AND ${search_option} like '%${keyword}%'
        	</otherwise>
        </choose>
        ORDER BY M_NO DESC
	</select>
	
	 
	
	
	<select id="selectOne" resultType="ManageMemberDto" parameterType="int">
		SELECT *
		FROM IT_MEMBER 
		WHERE M_NO=#{m_no}
	</select>
	
	<update id="update" parameterType="ManageMemberDto">
		UPDATE IT_MEMBER
		SET M_ACT = #{m_act}, M_USED = #{m_used}, M_AUTH = #{m_auth}
		WHERE M_NO=#{m_no}
	</update>
	
	
	<!-- 기업회원 -->
	
	<select id="selectList_com" resultType="ManageMemberDto_com" parameterType="HashMap">
        SELECT A.M_NO, A.M_NICKNAME, A.M_TYPE, A.M_REGDATE, A.M_ACT, A.M_USED, A.M_AUTH, B.M_ADMIN_CERT
        FROM IT_MEMBER A, BIZ_MEMBER B
        WHERE (A.M_NO = B.M_NO(+)) 
        AND (M_TYPE='기업회원')
        <choose>
        	<when test="search_option =='all'">
        	AND ((A.M_NICKNAME like '%${keyword}%') OR (A.M_ACT LIKE '%${keyword}%') 
        		OR (B.M_ADMIN_CERT LIKE '%${keyword}%') OR (A.M_TYPE LIKE '%${keyword}%'))
        	</when>
        	<otherwise>
        	AND ${search_option} like '%${keyword}%'
        	</otherwise>
        </choose>
        ORDER BY M_NO DESC
	</select>
	
	<select id="selectOne_com" resultType="ManageMemberDto_com" parameterType="int">
		SELECT A.M_NO, A.M_NICKNAME, A.M_TYPE,  A.M_REGDATE, A.M_ACT, A.M_USED, A.M_AUTH, A.M_NAME,  B.M_REGNO, B.M_ADMIN_CERT
		FROM IT_MEMBER A, BIZ_MEMBER B 
		WHERE A.M_NO = B.M_NO(+)
		AND A.M_NO=#{m_no}
		ORDER BY A.M_NO DESC
	</select>
	
	<update id="update_comA" parameterType="ManageMemberDto_com">
			
		UPDATE IT_MEMBER 
			SET 
				M_ACT = #{m_act}, 
				M_USED = #{m_used}, 
				M_AUTH = #{m_auth} 
			WHERE M_NO=#{m_no}
			
	</update>
	
	<update id="update_comB" parameterType="ManageMemberDto_com">
	UPDATE BIZ_MEMBER
		SET
			M_ADMIN_CERT = #{m_admin_cert}
		WHERE M_NO=#{m_no} 
	</update>
	
	
	
	
</mapper>