<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="ItMember">
 
 	<!-- 회원로그인 -->
 	<select id="login" parameterType="MemberDto" resultType="MemberDto">
 		SELECT *
 		FROM IT_MEMBER
 		WHERE M_ID = #{m_id}
 			AND M_PW = #{m_pw}
 	</select>
 	
 	<!--개인 회원가입 -->
 	<insert id="RegMember" parameterType="MemberDto">
 		INSERT INTO IT_MEMBER
 		VALUES(MEMBERNO_SEQ.NEXTVAL, #{m_id}, #{m_pw}, #{m_nickname}, #{m_phone}, #{m_email}, 'N', '활동', #{m_mail_cert}, '개인회원', 'N','', '', SYSDATE,'','','','')
 	</insert> 	
 	
 	<!--기업 회원가입-->
 	<insert id="RegBizMember" parameterType="MemberDto">
 		INSERT ALL
 		INTO IT_MEMBER
 			VALUES(MEMBERNO_SEQ.NEXTVAL, #{m_id}, #{m_pw}, #{m_nickname}, #{m_phone}, #{m_email}, 'N', '활동','', '기업회원', 'N','', '', SYSDATE,'','','','')
 		INTO BIZ_MEMBER
 			VALUES(MEMBERNO_SEQ.CURRVAL, #{m_regno}, #{m_admin_cert}) 		
 	</insert> 	
 	
 	<!-- 아이디 체크 -->
 	<select id="idCheck" resultType="int">
 		SELECT COUNT(*)
 		FROM IT_MEMBER 
 		WHERE M_ID = #{m_id}
 	</select>
 	
 	<!-- 이메일 체크 -->
 	<select id="emailCheck" resultType="int">
 		SELECT COUNT(*)
 		FROM IT_MEMBER 
 		WHERE M_EMAIL = #{m_email}
 	</select>
 	
 	<!-- 사업자번호 체크 -->
 	<select id="regnoCheck" resultType="int">
 		SELECT COUNT(*)
 		FROM BIZ_MEMBER 
 		WHERE M_REGNO = #{m_regno}
 	</select>
 	
 	<!-- 회원탈퇴 -->
 </mapper>