<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Note">

	<!-- 내가 받은 쪽지 목록 조회 -->
	<select id="receiveList" resultType="NoteDto">
		SELECT *
		FROM NOTE
		WHERE N_RECEIVER = #{n_receiver}
	</select>
	
	<!-- 보낸쪽지 목록 -->
	<select id="sendList" resultType="NoteDto">
		SELECT *
		FROM NOTE
		WHERE N_SENDER = #{n_sender}
	</select>

	<!-- 새로 받은 쪽지가 있는지 확인(매번) -->
	<select id="countNewNote" resultType="int">
		SELECT COUNT(*)
		FROM NOTE
		WHERE N_RECEIVER = #{n_receiver}
		AND N_READDATE IS NULL
	</select>


	<!-- 내가 받은쪽지 하나 읽기 -->
	<select id="receiveDetail" resultType="NoteDto">
		SELECT *
		FROM NOTE
		WHERE N_RECEIVER = #{n_receiver}
		AND N_NO=#{n_no}
	</select>

	<!-- 읽은 쪽지 읽은 시간 표시 UPDATE -->
	<update id="updateReadDate">
		UPDATE NOTE
		SET N_READDATE = SYSDATE
		WHERE N_RECEIVER = #{n_receiver}
		AND N_NO=#{n_no}
	</update>

	<!-- 보낸 쪽지 하나 읽기 -->
	<select id="sendDetail" resultType="NoteDto">
		SELECT *
		FROM NOTE
		WHERE N_SENDER = #{n_sender}
		AND N_NO=#{n_no}
	</select>

	<!-- 쪽지 보내기(작성) -->
	<insert id="noteInsert">
		INSERT INTO NOTE
			(N_NO, N_SENDER, N_RECEIVER, N_TITLE, N_CONTENT, N_SENDDATE)
		VALUES
			(NOTE_SEQ.NEXTVAL, #{n_sender}, #{n_receiver}, #{n_title}, #{n_content}, SYSDATE);
	</insert>

</mapper>