<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="reply">

	
	<select id="selectList" parameterType="int" resultType="ReplyListDto">
		SELECT R.RE_NO, R.RE_CREATEDDATE, R.RE_MODIFYDATE, R.RE_CONTENT, 
		       R.RE_WRITERIP, R.RE_DEPTH, (SELECT M2.M_NICKNAME FROM REPLY R2, IT_MEMBER M2 WHERE R2.M_NO=M2.M_NO AND R2.RE_NO=R.RE_PARENTNO) TARGETID , R.M_NO , M.M_IMG_PATH, M.M_IMG, M.M_NICKNAME, 
		       B.BD_NO 
		FROM REPLY R, IT_MEMBER M, BOARD B 
		WHERE R.BD_NO=B.BD_NO 
		AND R.M_NO=M.M_NO 
		AND B.BD_NO = #{bd_no}
		ORDER BY R.RE_GROUPNO ASC, R.RE_GROUPORDERNO ASC
	</select>
	
	<select id="replyCnt" parameterType="int" resultType="int">
		SELECT COUNT(RE_NO) FROM REPLY WHERE BD_NO=#{bd_no}
	</select>
	
	<insert id="insert" parameterType="ReplyInsertDto">
		INSERT INTO REPLY 
		VALUES (REPLYSEQ.NEXTVAL,SYSDATE,NULL,#{re_content},#{re_writerip},#{m_no},#{bd_no},
		<choose>
			<when test="re_parentno==0">
				GROUPNOSEQ.NEXTVAL,1,0,NULL)
			</when>
			<otherwise>
				(SELECT RE_GROUPNO FROM REPLY WHERE RE_NO=#{re_parentno}),
				DECODE (
	                     (SELECT COUNT(RE_NO) FROM REPLY WHERE RE_PARENTNO=#{re_parentno}),
	                      0,
	                     (SELECT RE_GROUPORDERNO FROM REPLY WHERE RE_NO=#{re_parentno})+1 , 
	                     (DECODE(
                                  (SELECT MAX(RE_GROUPORDERNO) FROM REPLY WHERE RE_GROUPORDERNO > (SELECT MAX(RE_GROUPORDERNO) FROM REPLY WHERE RE_PARENTNO = #{re_parentno}) AND RE_DEPTH > (SELECT RE_DEPTH FROM REPLY WHERE RE_PARENTNO=#{re_parentno} GROUP BY RE_DEPTH)),
                                  NULL,
                                  (SELECT MAX(RE_GROUPORDERNO) FROM REPLY WHERE RE_PARENTNO = #{re_parentno})+1,
                                  (SELECT MAX(RE_GROUPORDERNO) FROM REPLY WHERE RE_GROUPORDERNO > (SELECT MAX(RE_GROUPORDERNO) FROM REPLY WHERE RE_PARENTNO = #{re_parentno}) AND RE_DEPTH > (SELECT RE_DEPTH FROM REPLY WHERE RE_PARENTNO=#{re_parentno} GROUP BY RE_DEPTH))+1)
                                )
                        ),
				(SELECT RE_DEPTH FROM REPLY WHERE RE_NO=#{re_parentno})+1,
				#{re_parentno})
			</otherwise>
		</choose>
	</insert>
	
	<update id="update" parameterType="ReplyUpdateDto">
		UPDATE REPLY SET RE_CONTENT = #{re_content}, RE_MODIFYDATE = SYSDATE WHERE RE_NO = #{re_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM REPLY WHERE RE_NO = #{re_no}
	</delete>
	
	<!-- 대댓글 insert전에 순번 정렬하는 update -->
	<update id="orderupdate" parameterType="int">
		UPDATE REPLY
		SET RE_GROUPORDERNO = RE_GROUPORDERNO + 1
		WHERE RE_GROUPNO = (SELECT RE_GROUPNO 
		                    FROM REPLY 
		                    WHERE RE_NO = #{re_parentno})
		AND RE_GROUPORDERNO > DECODE (
		                              (SELECT COUNT(RE_NO) 
		                              FROM REPLY 
		                              WHERE RE_PARENTNO=#{re_parentno}),
		                               0,
		                              (SELECT 
		                              RE_GROUPORDERNO 
		                              FROM REPLY 
		                              WHERE RE_NO=#{re_parentno}) , 
		                              (DECODE(
                                             (SELECT MAX(RE_GROUPORDERNO) 
                                             FROM REPLY 
                                             WHERE RE_GROUPORDERNO > (SELECT MAX(RE_GROUPORDERNO) 
                                             							FROM REPLY 
                                             						   WHERE RE_PARENTNO = #{re_parentno}) 
                                             						     AND RE_DEPTH > (SELECT RE_DEPTH 
                                             						                       FROM REPLY 
                                             						                      WHERE RE_PARENTNO=#{re_parentno} 
                                             						                   GROUP BY RE_DEPTH)),
                                             NULL,
                                             (SELECT MAX(RE_GROUPORDERNO) 
                                                FROM REPLY 
                                               WHERE RE_PARENTNO = #{re_parentno}),
                                             (SELECT MAX(RE_GROUPORDERNO) 
                                                FROM REPLY 
                                               WHERE RE_GROUPORDERNO > (SELECT MAX(RE_GROUPORDERNO) 
                                                                          FROM REPLY 
                                                                         WHERE RE_PARENTNO = #{re_parentno}) 
                                                                           AND RE_DEPTH > (SELECT RE_DEPTH 
                                                                                             FROM REPLY 
                                                                                            WHERE RE_PARENTNO=#{re_parentno} GROUP BY RE_DEPTH))))
		                              )
	</update>

</mapper>