<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="reply">

	
	<select id="selectList" parameterType="int" resultType="ReplyListDto">
		SELECT R.RE_NO, R.RE_CREATEDDATE, R.RE_MODIFYDATE, R.RE_CONTENT, 
		       R.RE_WRITERIP, R.M_NO, M.M_IMG_PATH, M.M_IMG, M.M_NICKNAME, 
		       B.BD_NO 
		FROM REPLY R, IT_MEMBER M, BOARD B 
		WHERE R.BD_NO=B.BD_NO 
		AND R.M_NO=M.M_NO 
		AND B.BD_NO = #{bd_no}
	</select>
	
	<select id="replyCnt" parameterType="int" resultType="int">
		SELECT COUNT(RE_NO) FROM REPLY WHERE BD_NO=#{bd_no}
	</select>
	
	<insert id="insert" parameterType="ReplyInsertDto">
		INSERT INTO REPLY VALUES (REPLYSEQ.NEXTVAL,SYSDATE,NULL,#{re_content},#{re_writerip},#{m_no},#{bd_no},GROUPNOSEQ.NEXTVAL,1,0,NULL)
	</insert>
	
	<update id="update" parameterType="ReplyUpdateDto">
		UPDATE REPLY SET RE_CONTENT = #{re_content}, RE_MODIFYDATE = SYSDATE WHERE RE_NO = #{re_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM REPLY WHERE RE_NO = #{re_no}
	</delete>

</mapper>