<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Report">
	
	
	<select id="selectList" resultType="ReportDto">
        SELECT A.REPORT_NO, A.M_NO, A.BD_NO, D.NAME, C.BD_TITLE, A.REPORT_REASON, A.REPORT_DATE, A.REPORT_SUM 
        FROM REPORT A
        JOIN IT_MEMBER B
        ON A.M_NO=B.M_NO
        JOIN BOARD C
        ON A.BD_NO=C.BD_NO
        JOIN BOARDCATEGORY D
        ON C.BC_CODE=D.CODE
        ORDER BY REPORT_NO DESC
	</select>
	
	<select id="selectOne" resultType="ReportDto" parameterType="int">
		SELECT *
        FROM REPORT A
        JOIN IT_MEMBER B
        ON A.M_NO=B.M_NO
        JOIN BOARD C
        ON A.BD_NO=C.BD_NO
        JOIN BOARDCATEGORY D
        ON C.BC_CODE=D.CODE
        ORDER BY REPORT_NO DESC
		WHERE A.REPORT_NO=#{report_no}
	</select>
	
	<select id="insert" parameterType="ReportDto">
		INSERT INTO REPORT
		VALUES(REPORT_SEQ.NEXTVAL, #{m_no}, #{bd_no}, #{name}, #{report_board}, #{report_reason}, SYSDATE, 1)
	</select>
	
	<select id="count" resultType="ReportDto" parameterType="int">
		SELECT COUNT(BD_NO) CNT
		FROM REPORT
		WHERE BD_NO=#{bd_no}
	</select>
	
	
	
	
	
</mapper>