<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Resume">

	<resultMap type="ResumeDto" id="resumeList">
		<result property="m_no" column="M_NO" />
		<result property="r_no" column="R_NO" />
		<result property="r_title" column="R_TITLE" />
		<result property="r_regdate" column="R_REGDATE" />
	</resultMap>

	<!-- 이력서 목록 조회 -->
	<select id="resumeList" resultMap="resumeList">
		SELECT A.M_NO, R_NO, R_TITLE, R_REGDATE
		FROM IT_MEMBER A
		LEFT JOIN M_RESUME B
		ON A.M_NO=B.M_NO
		WHERE
		A.M_NO = #{m_no}
	</select>
	
	<!-- 이력서 기본정보 조회(detail) -->
	<select id="resumeDetail" resultType="ResumeDetailDto" parameterType="int">
		SELECT *
		FROM M_RESUME
		WHERE R_NO = #{r_no}
	</select>
	
	<!-- 이력서 학력사항 조회(list) -->
	<select id="educationList" resultType="EducationDto" parameterType="int">
		SELECT * 
		FROM EDUCATION 
		WHERE M_NO = #{m_no} 
		ORDER BY ED_NO
	</select>
	
	<!-- 이력서 자격사항 조회(list) -->
	<select id="licenceList" resultType="LicenceDto" parameterType="int">
		SELECT * 
		FROM LICENCE 
		WHERE M_NO = #{m_no}
		ORDER BY LI_NO
	</select>
	
	<!-- 이력서 교육 및 사회경험 조회(list) -->
	<select id="careerList" resultType="CareerDto" parameterType="int">
		SELECT * 
		FROM CAREER 
		WHERE M_NO = #{m_no}
		ORDER BY CA_NO
	</select>

	<!-- 이력서 사진 업로드 @@@@@@@@ 수정해야대!!UPDATE M_RESUME
		    
CREATE SEQUENCE M_RESUME_IMG_SEQ NOCACHE;
CREATE TABLE M_RESUME_IMG (   
    R_NO   NUMBER,    
    R_IMG   VARCHAR2(100) NOT NULL,
    R_IMG_PATH VARCHAR2(1000) NOT NULL,  
    
    CONSTRAINT M_RESUME_IMG_PK PRIMARY KEY(R_NO)); -->
	<insert id="uploadResumeImg" parameterType="ResumeImgDto" useGeneratedKeys="false" keyProperty="r_no">
		INSERT INTO M_RESUME_IMG(R_NO,R_IMG, R_IMG_PATH)
		VALUES(M_RESUME_IMG_SEQ.NEXTVAL, #{r_img}, #{r_img_path})
		
		<selectKey keyProperty="r_no" resultType="int" order="AFTER">
            select M_RESUME_IMG_SEQ.CURRVAL from M_RESUME_IMG WHERE ROWNUM = 1
       </selectKey>
	</insert>
	
	<!-- 이력서 삭제 -->
	<delete id="resumeDelete" parameterType="int">
		DELETE
		FROM M_RESUME
		WHERE R_NO = #{r_no}
	</delete>
	
	<!-- 이력서 선택 삭제 이거해야대!!!!!!!!!!!!!!! -->
	<delete id="resumeChkDel" parameterType="int">
		DELETE
		FROM M_RESUME
		WHERE R_NO = #{r_no}
	</delete>
	
	<!--@@@@@@@@@@@@@@이력서 등록@@@@@@@@@@@@@@@@@@@@@  -->
	<!-- 이력서 회원 기본 정보 수정 -->
	<update id="memResumeUpdate" parameterType="MemberDto">
		UPDATE IT_MEMBER
		SET 
		  <if test="m_birth != null">
		  	M_BIRTH=#{m_birth}, 
		  </if>
			M_NAME = #{m_name}, 
			M_GENDER=#{m_gender}, 
			M_PHONE = #{m_phone}
		WHERE M_NO = #{m_no}
	</update>
	
	<!--이력서 기본정보 수정(이미지가 먼저 들어감)--><!-- 사진이 먼저 들어가서 이력서 번호를 모르는데 되는지........되나? -->
	<insert id="resumeInsert" parameterType="ResumeUploadDto" useGeneratedKeys="false" keyProperty="r_no">
		INSERT INTO M_RESUME
		(M_NO, R_NO, R_TITLE, R_POSTCODE, R_ROADADDRESS, 
		R_JIBUNADDRESS, R_DETAILADDRESS, R_EXTRAADDRESS, R_SELFLETTER, 
		R_PORTFOLIO, R_IMG_NO, R_REGDATE)
		
		VALUES
		(#{m_no}, RESUMENO_SEQ.NEXTVAL, #{r_title}, #{r_postcode}, #{r_roadAddress}, 
		#{r_jibunAddress}, #{r_detailAddress}, #{r_extraAddress}, #{r_selfletter}, 
		#{r_portfolio}, #{r_img_no}, SYSDATE)
		
		<selectKey keyProperty="r_no" resultType="int" order="AFTER">
            select RESUMENO_SEQ.CURRVAL from M_RESUME WHERE ROWNUM = 1
       </selectKey>
	</insert>
	
	<!-- 이력서 학력사항 입력 --> 
	<insert id="educationInsert" parameterType="educationDto">
		INSERT INTO EDUCATION
		VALUES(#{m_no}, EDUCATION_SEQ.NEXTVAL,#{ed_startdate} , #{ed_gradudate}, #{ed_schoolName}, #{ed_graduation}, #{ed_major}, #{ed_school})
	</insert>
	
	<!-- 이력서 자격증 입력 -->
	<insert id="licenseInsert" parameterType="licenceDto">
		INSERT INTO LICENCE
		VALUES(#{m_no}, LICENCENO_SEQ.NEXTVAL,#{li_title} , #{li_date}, #{li_organ})
	</insert>
	
	<!-- 이력서 경력 입력 -->
	<insert id="careerInsert" parameterType="careerDto">
		INSERT INTO CAREER
		VALUES(#{m_no}, CAREERNO_SEQ.NEXTVAL,#{ca_title} , #{ca_content}, #{ca_start_date}, #{ca_end_date})
	</insert>

</mapper>