<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Study">


	<!-- BOARD에서 회원번호(맨 마지막꺼) 나중에 수정해야됨 -->
	<insert id="insert" parameterType="StudyInsertDto">
		INSERT ALL
		INTO BOARD 
		VALUES (
		BOARDSEQ.NEXTVAL,
		#{bd_title},
		#{bd_content},
		SYSDATE,
		NULL,
		0,
		#{bd_writerip},
		3,
		1004) 
		INTO STUDY 
		VALUES (
		BOARDSEQ.CURRVAL,
		'Y',
		#{st_addr1},
		#{st_addr2},
		#{st_addrdetail},
		#{st_nowperson},
		#{st_closeperson})
		SELECT * FROM DUAL
	</insert>
	
	
	<select id="selectlist" resultType="StudyListDto" parameterType="hashMap">
        SELECT * FROM 
               (SELECT ROWNUM RN, B.BD_NO, S.ST_STATUS, S.ST_ADDR1, 
		       S.ST_ADDR2, S.ST_NOWPERSON, S.ST_CLOSEPERSON, 
		       B.BD_TITLE, 
               (SELECT COUNT(R.RE_NO) FROM REPLY R, BOARD B WHERE R.BD_NO=B.BD_NO) BD_REPLYCOUNT , B.BD_VIEWCOUNT,
               (SELECT COUNT(R.BD_NO) FROM BOARDRECOMMAND R, BOARD B WHERE R.BD_NO=B.BD_NO) BD_RECOMMANDCOUNT , M.M_IMG_PATH,
		       M.M_IMG,M.M_NICKNAME,B.BD_CREATEDDATE
               FROM BOARD B, STUDY S, IT_MEMBER M
		       WHERE B.BD_NO = S.BD_NO
		       AND B.M_NO = M.M_NO
		       ORDER BY B.BD_CREATEDDATE ASC)
        WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectone" resultType="StudyDetailDto" parameterType="int">
		SELECT M.M_IMG_PATH, M.M_IMG, M.M_NICKNAME, B.BD_CREATEDDATE, B.BD_MODIFYDATE, 
		       B.BD_NO, B.BD_TITLE, B.BD_CONTENT, (SELECT COUNT(R.BD_NO) FROM BOARDRECOMMAND R, BOARD B WHERE R.BD_NO=B.BD_NO) BD_RECOMMANDCOUNT, S.ST_ADDR1,S.ST_ADDR2, S.ST_ADDRDETAIL, 
	           S.ST_NOWPERSON, S.ST_CLOSEPERSON
		FROM BOARD B, STUDY S, IT_MEMBER M
		WHERE B.BD_NO = S.BD_NO
		  AND B.M_NO = M.M_NO
		  AND B.BD_NO = #{bd_no}
	</select>
	
	<select id="selectlistcnt" resultType="int">
		SELECT COUNT(BD_NO)
		FROM BOARD
		WHERE BC_CODE=3 
	</select>
	
	
	
</mapper>