<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Study">


	<!-- BOARD에서 회원번호(맨 마지막꺼) 나중에 수정해야됨 -->
	<insert id="insert" parameterType="StudyInsertDto">
		INSERT ALL
		INTO BOARD 
		VALUES (
		BOARDSEQ.NEXTVAL,
		#{bd_title},
		#{bd_content},
		SYSDATE,
		NULL,
		0,
		#{bd_writerip},
		3,
		${m_no}) 
		INTO STUDY 
		VALUES (
		BOARDSEQ.CURRVAL,
		'Y',
		#{st_addr1},
		#{st_addr2},
		#{st_addrdetail},
		#{st_nowperson},
		#{st_closeperson})
		SELECT * FROM DUAL
	</insert>
	
	
	<select id="selectlist" parameterType="hashMap" resultType="StudyListDto">
		SELECT * 
		FROM
       		  (SELECT ROWNUM RN, A.* 
       		   FROM (
                       SELECT B.BD_NO, S.ST_STATUS, S.ST_ADDR1, 
		      		   S.ST_ADDR2, S.ST_NOWPERSON, S.ST_CLOSEPERSON,  B.BD_TITLE, 
           			   DECODE(RE.REPLYCOUNT,NULL,0,RE.REPLYCOUNT) BD_REPLYCOUNT, B.BD_VIEWCOUNT,
              		   DECODE(BR.RECOMMANDCOUNT,NULL,0,BR.RECOMMANDCOUNT) BD_RECOMMANDCOUNT, M.M_IMG_PATH,
		               M.M_IMG,M.M_NICKNAME,B.BD_CREATEDDATE
                       FROM BOARD B, STUDY S, IT_MEMBER M , 
                           (SELECT BD_NO,COUNT(BD_NO) REPLYCOUNT FROM REPLY GROUP BY BD_NO) RE,
                           (SELECT BD_NO,COUNT(BD_NO) RECOMMANDCOUNT FROM BOARDRECOMMAND GROUP BY BD_NO) BR
		               WHERE B.BD_NO = S.BD_NO 
		               AND B.BC_CODE=3
		               AND B.M_NO = M.M_NO
                       AND RE.BD_NO(+) = B.BD_NO
                       AND BR.BD_NO(+) = B.BD_NO
		               ORDER BY B.BD_CREATEDDATE DESC, B.BD_NO DESC) A  
		       ORDER BY RN ASC) 
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectone" resultType="StudyDetailDto" parameterType="int">
		SELECT M.M_NO, M.M_IMG_PATH, M.M_IMG, M.M_NICKNAME, B.BD_CREATEDDATE, B.BD_MODIFYDATE, 
		       B.BD_WRITERIP, B.BD_NO, B.BD_TITLE, B.BD_CONTENT, 
		       (SELECT COUNT(BD_NO) FROM BOARDRECOMMAND R WHERE R.BD_NO=${bd_no}) BD_RECOMMANDCOUNT, 
		       S.ST_STATUS, S.ST_ADDR1,S.ST_ADDR2, S.ST_ADDRDETAIL, 
	           S.ST_NOWPERSON, S.ST_CLOSEPERSON
		FROM BOARD B, STUDY S, IT_MEMBER M
		WHERE B.BD_NO = S.BD_NO
		  AND B.M_NO = M.M_NO
		  AND B.BD_NO = #{bd_no}
	</select>
	
	<select id="selectlistcnt" resultType="int">
		SELECT COUNT(BD_NO)
		FROM BOARD
		WHERE BC_CODE=3 
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM STUDY WHERE BD_NO = #{bd_no}
	</delete>
	
	<update id="update" parameterType="StudyUpdateDto">
		UPDATE STUDY
		SET ST_NOWPERSON = #{st_nowperson} ,
		    ST_CLOSEPERSON = #{st_closeperson} ,
		    ST_ADDR1 = #{st_addr1} ,
		    ST_ADDR2 = #{st_addr2} ,
		    ST_ADDRDETAIL = #{st_addrdetail}
		WHERE BD_NO = #{bd_no}
	</update>
	
	
	<select id="studysearchlistcnt" parameterType="StudySearchDto" resultType="int">
		SELECT COUNT(*) 
		FROM BOARD B, STUDY S 
		WHERE B.BD_NO=S.BD_NO 
		  AND B.BC_CODE=3 
		  <if test= '!a1.equals("")'>
		  AND S.ST_ADDR1 LIKE '%${a1}%'
		  </if>
		  <if test= '!a2.equals("")'>
		  AND S.ST_ADDR2 LIKE '%${a2}%'
		  </if>
		  <if test= 'stat.equalsIgnoreCase("y") or stat.equalsIgnoreCase("n")'>
		  AND S.ST_STATUS <![CDATA[=]]> #{stat}
		  </if>
		  <if test= '!key.equals("")'>
		  AND (B.BD_TITLE LIKE '%${key}%' OR B.BD_CONTENT LIKE '%${key}%')
		  </if>
	</select>
	
	<select id="selectsearchlist" parameterType="hashMap" resultType="StudyListDto">
        SELECT * FROM 
        	   (SELECT ROWNUM RN, A.* 
        	   FROM (
	               SELECT B.BD_NO, S.ST_STATUS, S.ST_ADDR1, 
			       S.ST_ADDR2, S.ST_NOWPERSON, S.ST_CLOSEPERSON, 
			       B.BD_TITLE, 
	               DECODE(RE.REPLYCOUNT,NULL,0,RE.REPLYCOUNT) BD_REPLYCOUNT, B.BD_VIEWCOUNT,
	               DECODE(BR.RECOMMANDCOUNT,NULL,0,BR.RECOMMANDCOUNT) BD_RECOMMANDCOUNT, M.M_IMG_PATH,
			       M.M_IMG,M.M_NICKNAME,B.BD_CREATEDDATE
	               FROM BOARD B, STUDY S, IT_MEMBER M , 
	                     (SELECT BD_NO,COUNT(BD_NO) REPLYCOUNT FROM REPLY GROUP BY BD_NO) RE,
	                     (SELECT BD_NO,COUNT(BD_NO) RECOMMANDCOUNT FROM BOARDRECOMMAND GROUP BY BD_NO) BR
			       WHERE B.BD_NO = S.BD_NO 
			       AND B.BC_CODE=3 
			       AND B.M_NO = M.M_NO
	               AND RE.BD_NO(+) = B.BD_NO
	               AND BR.BD_NO(+) = B.BD_NO
	               <if test= '!studySearchDto.a1.equals("")'>
				   AND S.ST_ADDR1 LIKE '%${studySearchDto.a1}%'
				   </if>
				   <if test= '!studySearchDto.a2.equals("")'>
				   AND S.ST_ADDR2 LIKE '%${studySearchDto.a2}%'
				   </if>
				   <if test= 'studySearchDto.stat.equalsIgnoreCase("y") or studySearchDto.stat.equalsIgnoreCase("n")'>
			       AND S.ST_STATUS <![CDATA[=]]> #{studySearchDto.stat}
				   </if>
				   <if test= '!studySearchDto.key.equals("")'>
				   AND (B.BD_TITLE LIKE '%${studySearchDto.key}%' OR B.BD_CONTENT LIKE '%${studySearchDto.key}%')
				   </if>
			       ORDER BY B.BD_CREATEDDATE DESC) A 
			   ORDER BY RN ASC)    
        WHERE RN BETWEEN #{start} AND #{end}		
	</select>
	
	<update id="updatestatus" parameterType="int">
        UPDATE STUDY SET ST_STATUS = DECODE(ST_STATUS,'Y','N','N','Y')
        WHERE BD_NO=#{bd_no}
	</update>
	
	<insert id="studyjoinapplyinsert" parameterType="StudyJoinInfoDto">
		INSERT INTO STUDYJOININFO VALUES (#{m_no},#{bd_no},SYSDATE,#{sj_message},'n',NULL)
	</insert>
	
	<select id="studyjoinapplyselectone" parameterType="StudyJoinInfoDto" resultType="int">
		SELECT COUNT(M_NO) FROM STUDYJOININFO WHERE M_NO=#{m_no} AND BD_NO=#{bd_no}
	</select>
	
	<select id="studyjoininfoselectlistcnt" parameterType="int" resultType="StudyJoinInfoDto">
		SELECT * FROM STUDYJOININFO WHERE BD_NO=#{bd_no}
	</select>

	<select id="studyjoininfoselectlist" parameterType="StudyJoinInfoDto" resultType="StudyJoinInfoDto">
		SELECT S.M_NO,S.BD_NO,S.SJ_JOINDATE,S.SJ_MESSAGE,
			   S.SJ_ISJOIN, S.SJ_ACCEPTDATE, M.M_IMG_PATH, M.M_IMG, M.M_NICKNAME 
	    FROM STUDYJOININFO S, IT_MEMBER M
	    WHERE S.M_NO = M.M_NO
	      AND BD_NO=#{bd_no}
		  AND SJ_ISJOIN = #{sj_isjoin}
	</select>
	
	
	<delete id="studyjoindelete" parameterType="StudyJoinInfoDto">
		DELETE STUDYJOININFO WHERE M_NO=#{m_no} AND BD_NO=#{bd_no}
	</delete>
	
	<update id="studyjoinaccept" parameterType="StudyJoinInfoDto">
		UPDATE STUDYJOININFO SET SJ_ISJOIN='y' WHERE M_NO=#{m_no} AND BD_NO=#{bd_no} 
	</update>
	
	
	
		
</mapper>