<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Study">


	<!-- BOARD에서 회원번호(맨 마지막꺼) 나중에 수정해야됨 -->
	<insert id="studyinsert" parameterType="StudyDto">
		INSERT ALL
		INTO BOARD 
		VALUES (
		50013,
		#{bd_title},
		#{bd_content},
		SYSDATE,
		NULL,
		0,
		0,
		#{bd_writerip},
		3,
		1) 
		INTO STUDY 
		VALUES (
		50013,
		'Y',
		#{st_addr1},
		#{st_addr2},
		#{st_addrdetail},
		#{st_nowperson},
		#{st_closeperson})
		SELECT * FROM DUAL
	</insert>
	
	
	<select id="selectstudylist" resultType="StudyListDto">
		SELECT B.BD_NO, S.ST_STATUS, S.ST_ADDR1, 
		       S.ST_ADDR2, S.ST_NOWPERSON, S.ST_CLOSEPERSON, 
		       B.BD_TITLE, B.BD_REPLYCOUNT, B.BD_VIEWCOUNT, M.M_IMG_PATH,
		       M.M_IMG,M.M_NAME,B.BD_CREATEDDATE
		FROM BOARD B, STUDY S, IT_MEMBER M
		WHERE B.BD_NO = S.BD_NO
		AND B.M_NO = M.M_NO
	</select>
	
	
	
</mapper>